[submodule "related-repos/OSN-2026"]
	path = related-repos/OSN-2026
	url = git@github.com:justingrammens/OSN-2026.git
[submodule "related-repos/Food4Thought"]
	path = related-repos/Food4Thought
	url = git@github.com:paulkaefer/Food4Thought.git
